/* MAIN */
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: nowrap;
}

.title {

}

/* SEC GROUPS */
.securityGroups {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: row;
    background: #2727275c;
    border-radius: 5px;
    width: 55vw;
    height: 40vh;
    transition: all 0.5s ease;
    padding: 20px;
    overflow: auto;
    justify-content: space-between;
}

.securityGroup {
    display: flex;
    background: #272727ab;
    border-radius: 5px;
    width: 10vw;
    height: 14vh;
    transition: all 0.5s ease;
    padding: 0px 3px 0px;
    margin: 10px;
    flex-direction: column;
    align-items: center;
}
.securityGroup:hover {
    background: #272727;
}

.securityGroupName {

}
.securityGroupDescription {

}

.deleteBtn {

}

/* SEC GROUP */
.securityGroupFocus {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    overflow: auto;
    background: #2727275c;
    border-radius: 5px;
    width: 55vw;
    height: 44vh;
    transition: all 0.5s ease;
    padding: 20px;
    overflow: auto;
}

.ingress, .egress {
    display: flex;
    flex-direction: row;
    padding: 20px 0px;
}
.ingressItems, .egressItems {
    display: flex;
    flex-direction: column;
    width: 100%;
}
.ingressItem, .egressItem {
    display: flex;
    flex-direction: row;
}
.cidr_block {
    width: 100%;
}

